extends partials/layout.jade

block content
  // === Slider ===
  .tp-banner-container
    .tp-banner
      ul
        // SLIDE
        li.revolution-mch-1(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title='Slide 2')
          // MAIN IMAGE
          img(
            src='assets/img/sliders/2.jpg', 
            alt='darkblurbg', 
            data-bgfit='cover', 
            data-bgposition='center center', 
            data-bgrepeat='no-repeat'
          )

          .tp-caption.revolution-ch1.sft.start(
            data-x='center', 
            data-hoffset='0', 
            data-y='100', 
            data-speed='1500', 
            data-start='500', 
            data-easing='Back.easeInOut', 
            data-endeasing='Power1.easeIn', 
            data-endspeed='300'
          ) EPL - Contadores Públicos
          // LAYER
          .tp-caption.revolution-ch2.sft(
            data-x='center', 
            data-hoffset='0', as
            data-y='190', 
            data-speed='1400', 
            data-start='2000', 
            data-easing='Power4.easeOut', 
            data-endspeed='300', 
            data-endeasing='Power1.easeIn', 
            data-captionhidden='off', 
            style='z-index: 6'
          ) Somos un estudio contable provee 
            br
            |                         blabla para pequeñas y medianas empresas
          // LAYER
          .tp-caption.sft(
            data-x='center', 
            data-hoffset='0', 
            data-y='310', 
            data-speed='1600', 
            data-start='2800', 
            data-easing='Power4.easeOut', 
            data-endspeed='300', 
            data-endeasing='Power1.easeIn', 
            data-captionhidden='off', 
            style='z-index: 6'
          )
            a.btn-u.btn-brd.btn-brd-hover.btn-u-light(href='#') El Estudio
            a.btn-u.btn-brd.btn-brd-hover.btn-u-light(href='#') Nuestros Servicios
